.header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    color: navy;
    font-weight: bold;
}

.title {
    font-size: 30px;

}

.menu {
    display: flex;
    list-style: none;
    


}

.menu li {
    padding: 6px 20px;
}

.relative {
    position: relative;
    display: flex;
    width: 100%;
    
}

img {
    width: 50%;
    height: 50%;
}

.relative__img img {
    display: block;
    margin: 0 0 0 auto;
    z-index: -1;
}

.absolute__txt {
    display: flex;
    font-size: 60px;
    top: 50%;
    font-weight: lighter;
    position: absolute;
}

.absolute__blue-box {
    display:flex;
    top: 60%;
    height: 30%;
    width: 70%;
    position: absolute;
    background-color: navy;
    z-index: -10;

}